streamlit
openai
langchain
langchain_openai
langchain_community
vertexai
langchain_google_vertexai
langchain_core
typing_extensions
anthropic
streamlit-extras
pytesseract
unstructured
unstructured.pytesseract
unstructured-inference
pi-heif
fastapi
langserve
python-dotenv
beautifulsoup4
google-cloud-storage
google-cloud-aiplatform
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-cloud-discoveryengine
google-cloud-resource-manager
google-cloud-scheduler
google-cloud-tasks
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
google-api-python-client
langchain-google-community
requests
pydantic
html2text
pillow
chromadb
faiss-cpu
